*
{
  margin: 0px; padding: 0px;
}
a 
{
  text-decoration: none;
}
li
{
  list-style: none;
}

html, body {
  height: 100%
}
.container
{
  min-height: 100%;
	position: relative;
}

/* 헤더 */
header
{
  z-index: 1;
  width: 100%;
  position: fixed;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, rgba(240, 240, 240, 0.6) 100%);
}
.logo 
{
  width: 166px;
  height: 25px;
  padding: 30px 120px;
}
.logo img
{
  width: 72px;
  height: 31px;
}
.inner-box
{
  width: 1180px; height: 90px;
  position: relative;
  margin: auto;
}
.inner-box h1
{
  left: 100px; 
  font-size: 45px;
  bottom: 30px;
  color:  gray;
}
.inner-box nav
{
  overflow: hidden;
  position: absolute;
}
.inner-box nav > ul
{
  overflow: hidden;
  display: flex;
}
.inner-box .utility
{
  width: 230px; height: 30px;
  right: 30px;
  top: 50px;
}
.utility > ul > li
{
  float: right;
  font-size: 12px;
  padding-left: 10px;
}
.utility > ul > li a
{
  color: gray;
}
.inner-box .global
{
  font-weight:300;
  width: 800px; height: 30px;
  right: 55px;
  bottom: 25px;
}
.global > ul > li
{
  font-weight: 400;
  float:left;
  margin-right: 20px;
  padding-left: 30px;
}
.global > ul > li a
{
  font-size:medium;
  color: gray;
  transition: 0.5s;
}
.global > ul > li:nth-child(3) a
{
  color: black;
}
.global > ul > li a:hover
{
  color: black;
  
}
/* 헤더 */

/* 메인 */
.wrapper 
{
  width: 100%;
  background-size : cover;
  background-image: url('background.png');
  background-repeat: no-repeat;
  object-fit:cover;
  height: 465px;
}
.introduce 
{
  width: 100%;
  height: 465px;
  text-align: center;
}
.introduce-letter 
{
  padding-top: 150px;
  color: #fff;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4)
}
.introduce h1 
{
  font-size: 70px;
}
.introduce p 
{
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 2em;
}
.career 
{
  margin-top: 90px;
  width: 100%;
  height: 1000px;
  background-color: #fff;
  word-spacing: -4px;
}
.contents 
{
  margin: auto;
  width: 100%;
  text-align: left;
}
.contents h5
{ width: 85px;
  height: 1.7em;
  text-align: center;
  background-color: #000;
  color: #fff;
}
#contentsH1 
{
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.contentsbox
{
  margin-top: 90px;
  width: 100%; height: 450px;
}
.newscover
{
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap:20px;
  width: 1080px; height: 450px;  
}
.newsbox
{
  width: 270px;
  height: 450px;
  border-bottom: 1px solid lightgray;
}
.newsbox img
{
  width: 100%; height: 150px;
  border: 1px solid #000;
}
#newsboxH1
{
  margin-left: 0px;
  word-spacing: normal;
  font-size: 19px;
  margin-bottom: 10px;
  text-decoration-line:underline;
}
.newsbox a
{
  word-spacing: normal;
}
.newsletters
{
  width: 100%; height: 245px;
}
.newsbottom
{
  width: 100%;height: 20px;
  display: flex;
}

#newsbottomH1
{
  width: 85px;
  font-size: 13px;
  font-weight: bold;
  border-right: 1px solid lightgray;
}
#newsbottomA
{
  margin-left: 5px;
  width: 155px;
  font-size: 12px;
}
#newsbottomA0
{
  width: 100%;
  font-size: 12px;
  color: gray;
  height: 100px;
}
.arrow {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 190px;
  margin-bottom: 50px;
  display: flex;
  gap: 50px;
  justify-content: center;
}
.btn
{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  width:75px; height: 75px;
}


/* 푸터 */
footer 
{
  position: relative; 
  transform: translatY(-100%);
  width: 100%;
  height: 300px;
  background-color: #000;
  border-top: 1px solid #ccc;
  display: flex;
}
.bottomMenu1 
{ 
  width: 50%;
  height: 300px;
  margin: 0px 50px;
  gap: 20px;
  display: flex;
  flex-direction: column;  
}

.address 
{
  color: #ddd;
}
.address p 
{
  line-height: 2em;
}

.bottomMenu2 
{
  width: 50%;
  height: 200px;
  padding-top: 40px;
  margin: 0px 50px;
}
.bottomMenu2 li 
{
  text-align: right;
}
.bottomMenu2 li a{
  line-height: 2.5em;
  color: #aaa;
  font-size: 14px;
  word-spacing: -0.7px;
}
.bottomMenu2 li a:hover {
  color: #fff;
  transition: 0.5s;
}

.bottomRight {
  margin-top: 50px;
}
.bottomRight p{
  color: #ddd;
  text-align: right;
  line-height: 2em;
}
.bottomlogo
{
  padding-top: 50px;
  width: 20%;
  height: 72px;
  float: left;
}
.bottomlogo img
{
  width: 180px;
  height: 77px;
}
