*
{
  margin: 0px; padding: 0px;
}
a 
{
  text-decoration: none;
}
li
{
  list-style: none;
}

html, body {
  height: 100%
}
.container
{
  min-height: 100%;
	position: relative;
}
/* 헤더 */
header
{
  z-index: 1;
  width: 100%;
  position: fixed;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.7) 100%);
}
.logo 
{
  width: 166px;
  height: 25px;
  padding: 30px 120px;
}
.logo img
{
  width: 72px;
  height: 31px;
}
.inner-box
{
  width: 1180px; height: 90px;
  position: relative;
  margin: auto;
}
.inner-box h1
{
  left: 100px; 
  font-size: 45px;
  bottom: 30px;
  color:  gray;
  position: absolute;
}
.inner-box nav
{
  overflow: hidden;
  position: absolute;
}
.inner-box nav > ul
{
  overflow: hidden;
  display: flex;
}
.inner-box .utility
{
  width: 230px; height: 30px;
  right: 30px;
  top: 50px;
}
.utility > ul > li
{
  float: right;
  font-size: 12px;
  padding-left: 10px;
}
.utility > ul > li a
{
  color: gray;
}
.inner-box .global
{
  font-weight: 300;
  width: 800px; height: 30px;
  right: 55px;
  bottom: 25px;

}
.global > ul > li
{
  font-weight: 400;
  float:left;
  margin-right: 20px;
  padding-left: 30px;
}
.global > ul > li a
{
  font-size:medium;
  color: gray;
  transition: 0.5s;
}
.global > ul > li:nth-child(1) a
{
  color: black;
}
.global > ul > li a:hover
{
  color: black;
  
}
/* 헤더 */

/* 메인 */
.wrapper 
{
  width: 100%;
  background-size : cover;
  background-image: url('background.png');
  background-repeat: no-repeat;
  object-fit:cover;
  height: 465px;
}
.introduce 
{
  width: 100%;
  height: 465px;
  text-align: center;
}
.introduce-letter 
{
  padding-top: 150px;
  color: #fff;
}
.introduce h1 
{
  font-size: 70px;
}
.introduce p 
{
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 2em;
}
.valuewrap
{
  width: 100%;
  height: 500px;
}
.value 
{
  margin: auto;
  width: 1300px; height: 100%;
  background-color: #fff;
  word-spacing: -4px;
  padding-top: 90px;
}
.value h5 
{
  width: 85px;
  height: 1.7em;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.contentsbox 
{ 
  margin: auto;
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}
.contentsbox:nth-child(3)
{
  margin-bottom: 120px;
}
.txtintro
{
  margin: auto;
  width: 1300px;
  height: 100px;
  font-size: 40px;
  margin-top: 50px;
}
.introwrap
{
  width: 100%;
  justify-content: center;
  background-color: rgba(176, 196, 222, 0.50);
  height: 500px;  
  margin-bottom: 100px;
}
.contentsbox2
{
  margin: auto;
  width: 1200px;
  height: 500px;
  display: flex;
  
}
.contents_innerbox
{
  justify-content:center;
  margin: auto;
  width: 590px;;
}
.contents_innerbox:nth-child(2) h1
{
  color: black;
  height: 1.6em;
  font-size: 50px;
  text-align: center;
  height: 150px;
  width: 590px;
  margin-left: 0px;
}
.contents_innerbox img
{
  margin-left: 34%;
  width: 207px;
  height: 265px;
}
.Textbox
{
  margin-left: 200px;
  word-spacing: normal;
  width: 500px; 
}
.Textbox p
{
  margin-top: -10px;
  color: rgb(49, 49, 49);
}
.Textbox_introduce
{
  font-weight: bold;
  margin-top: 80px;
  word-spacing: normal;
  width: 105%;
  height: 90%;
}
.contents 
{
  margin-bottom: 20px;
  width: 700px;
}
.contents h1 
{
  word-spacing: normal;
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
}
.contents p {
  word-spacing: normal;
  margin-top: 10px;
}
.arrow {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}
.arrow a img {
  opacity: 70%;
}

/* 푸터 */
footer 
{
  position: relative; 
  transform: translatY(-100%);
  height: 300px;
  background-color: #000;
  border-top: 1px solid #ccc;
  display: flex;
}
.bottomMenu1 
{ 
  width: 50%;
  height: 300px;
  margin: 0px 50px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.address 
{
  color: #ddd;
}
.address p 
{
  line-height: 2em;
}

.bottomMenu2 
{
  width: 50%;
  height: 200px;
  padding-top: 40px;
  margin: 0px 50px;
}
.bottomMenu2 li 
{
  text-align: right;
}
.bottomMenu2 li a{
  line-height: 2.5em;
  color: #aaa;
  font-size: 14px;
  word-spacing: -0.7px;
}
.bottomMenu2 li a:hover {
  color: #fff;
  transition: 0.5s;
}

.bottomRight {
  margin-top: 50px;
}
.bottomRight p{
  color: #ddd;
  text-align: right;
  line-height: 2em;
}
.bottomlogo
{
  padding-top: 50px;
  width: 20%;
  height: 72px;
  float: left;
}
.bottomlogo img
{
  width: 180px;
  height: 77px;
}
