/* @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
    font-size: 18px;
    background-color: whitesmoke;
} */
*
{
  margin: 0px; padding: 0px;
}
a 
{
  text-decoration: none;
}
li
{
  list-style: none;
}

html, body {
  height: 100%
}
.container
{
  min-height: 100%;
	position: relative;
}

/* 헤더 */
header
{
  z-index: 1;
  width: 100%;
  position: fixed;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.7) 100%);
}
.logo 
{
  width: 166px;
  height: 25px;
  padding: 30px 120px;
}
.logo img
{
  width: 72px;
  height: 31px;
}
.inner-box
{
  width: 1180px; height: 90px;
  position: relative;
  margin: auto;
}
.inner-box h1
{
  left: 100px; 
  font-size: 45px;
  bottom: 30px;
  color:  gray;
}
.inner-box nav
{
  overflow: hidden;
  position: absolute;
}
.inner-box nav > ul
{
  overflow: hidden;
  display: flex;
}
.inner-box .utility
{
  width: 230px; height: 30px;
  right: 30px;
  top: 50px;
}
.utility > ul > li
{
  float: right;
  font-size: 12px;
  padding-left: 10px;
}
.utility > ul > li a
{
  color: gray;
}
.inner-box .global
{
  font-weight:300;
  width: 800px; height: 30px;
  right: 55px;
  bottom: 25px;
}
.global > ul > li
{
  float:left;
  margin-right: 20px;
  padding-left: 39px;
}
.global > ul > li a
{
  font-size:medium;
  color: gray;
  transition: 0.5s;
}
.global > ul > li:nth-child(2) a
{
  color: black;
}
.global > ul > li a:hover
{
  color: black;
  
}
/* 헤더 */

/* 메인 */
.wrapper 
{
  width: 100%;
  background-size : cover;
  background-image: url('background.png');
  background-repeat: no-repeat;
  object-fit:cover;
  height: 465px;
}
.introduce 
{
  width: 100%;
  height: 465px;
  text-align: center;
}
.introduce-letter 
{
  padding-top: 150px;
  color: #fff;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4)
}
.introduce h1 
{
  font-size: 70px;
}
.introduce p 
{
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 2em;
}
.career 
{
  margin-top: 90px;
  width: 100%;
  height: 800px;
  background-color: #fff;
  word-spacing: -4px;
}
.contents 
{
  margin: auto;
  width: 100%;
  text-align: left;
}
.contents h5
{ width: 85px;
  height: 1.7em;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.contents h1 
{
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.process
{
  margin: auto;
  width: 100%;
  height: 500px;
  display: flex;
  gap: 60px;
  justify-content: center;
}
.process img 
{
  width: 366px; height: 275px;
  border-radius: 15px;
}
.onboarding 
{
  width: 366px;
  line-height: 1.5em;
}
.onboarding h3 
{
  text-align: center;
  word-spacing: normal;
  margin-top: 5px;
  margin-bottom: 10px;
}
.onboarding p 
{
  width: 366px; height: 120px;
  font-size: 14px;
  word-spacing: normal;
}
.btn 
{
  width: 200px;
  height: 50px;
  
  /* 버튼 위치 */
  position: relative;
  left: 70px;
  top: 40px;
  
  /* 상자 디자인 큰틀 */
  margin-bottom: 30px;
  border: 0px;
  background-color: #9abbe9;
    
  /* 그림자 */
  border-radius: 10px;
  box-shadow:.4rem .3rem 0.7rem #BEC5D0,
             -.2rem -.2rem .4rem #FBFBFB;
  /* 글씨 */
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: bold;
}
  
.btn:active {
  /*버튼 눌리는 효과*/
  box-shadow: inset -.3rem -.1rem 1.4rem  #FBFBFB, 
              inset .3rem .4rem .8rem #BEC5D0; 
  cursor: pointer;
}
.arrow {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-bottom: 40px;
}
.arrow a img {
  opacity: 70%;
}

/* 푸터 */
footer 
{
  position: relative; 
  transform: translatY(-100%);
  width: 100%;
  height: 300px;
  background-color: #000;
  border-top: 1px solid #ccc;
  display: flex;
}
.bottomMenu1 
{ 
  width: 50%;
  height: 300px;
  margin: 0px 50px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  
}

.address 
{
  color: #ddd;
}
.address p 
{
  line-height: 2em;
}

.bottomMenu2 
{
  width: 50%;
  height: 200px;
  padding-top: 40px;
  margin: 0px 50px;
}
.bottomMenu2 li 
{
  text-align: right;
}
.bottomMenu2 li a{
  line-height: 2.5em;
  color: #aaa;
  font-size: 14px;
  word-spacing: -0.7px;
}
.bottomMenu2 li a:hover {
  color: #fff;
  transition: 0.5s;
}

.bottomRight {
  margin-top: 50px;
}
.bottomRight p{
  color: #ddd;
  text-align: right;
  line-height: 2em;
}
.bottomlogo
{
  padding-top: 50px;
  width: 20%;
  height: 72px;
  float: left;
}
.bottomlogo img
{
  width: 180px;
  height: 77px;
}
